.full-screen {
    max-width: 100%;
    min-height: 100%;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.line-through {
    text-decoration: line-through;
}

.content {
    position: relative;
}

.overlay-collapse {
    width: inherit;
    position: absolute;
    z-index: 1;
}